

<!DOCTYPE html>
<html lang="en">

<head id="ctl00_Head1">
	<link href="css/CTStyle.css" rel="stylesheet" type="text/css" /><link href="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/css/select2.css" rel="stylesheet" type="text/css" /><link href="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/css/bs4-utilities.css" rel="stylesheet" type="text/css" /><link rel="shortcut icon" href="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/images/FAV/favicon.ico" />
    <script language="javascript" src="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/Scripts/Common/Common.js" type="text/javascript"></script>
    <script type="text/javascript" src="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/Scripts/Jquery/jquery-1.4.2.min.js"></script>

  
    
    
    
          <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="<%=Request.Url.Scheme%>://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="<%=Request.Url.Scheme%>://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

       <!-- manual css -->
    <link href="css/override.css" rel="stylesheet" />
  <!-- jQuery -->
<script src="Scripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/Scripts/bootstrap.min.js"></script>
<style> h3 { padding: 20px 0px 15px 0px!important; }</style>




     <!-- for smart menus -->
<script type="text/javascript" src="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/Scripts/Menu/jquery.smartmenus.js"></script>
<script src="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/scripts/select2.min.js" type="text/javascript"></script>

<!-- SmartMenus jQuery init -->
<script type="text/javascript">
    $(function() {
        $('#nav').smartmenus({
            subMenusSubOffsetX: 1,
            subMenusSubOffsetY: -8
        });


        $('select').select2();
        $('.no-select2').select2('destroy');

  





    });

</script>


<!-- SmartMenus core CSS (required) -->
<link href="css/sm-core-css.css" rel="stylesheet" type="text/css" />

<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href="css/sm-blue.css" rel="stylesheet" type="text/css" />


    
<link href="App_Themes/Default/BookingStyle.css" type="text/css" rel="stylesheet" /><link href="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/App_Themes/Default/cozmovisa-style.css" type="text/css" rel="stylesheet" /><link href="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/App_Themes/Default/Default.css" type="text/css" rel="stylesheet" /><link href="App_Themes/Default/main-style.css" type="text/css" rel="stylesheet" /><link href="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/App_Themes/Default/style.css" type="text/css" rel="stylesheet" /><title>
	
</title></head>
<body>
<div>

    <form >
<div>


	


 <div class="cz-container">



<div id="header"> 
       
           
<div class="col-md-6 logo2">  


<a href="index.aspx">
<img id="ctl00_imgLogo" src="<%=Request.Url.Scheme%>://ctb2b.cozmotravel.com/images/logo.jpg" style="border-width:0px;" /> </a></div>


       <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">t1</span>
                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            
     
  

 <div class="collapse navbar-collapse padding0" id="bs-example-navbar-collapse-1">
 
<div class="col-md-6 logo pad_left0">


<div class="col-md-12 padding-0"> 
<div class="col-md-6 padding0"><span class="lblcurrency"><span id="ctl00_lblCurrency">AED</span> <span id="ctl00_lblAgentBalance">36,901,044.17</span> </span> </div>

<div class="col-md-6 padding0">

  
    <a class="lblsetting fcol_black" href="login.aspx">Sign Out</a>
 
  
  
 </div>



<div class="cleafix"> </div>



</div>

<div class="col-md-12 padding-0"> 



<div class="col-md-6 padding0"><span class="lbllocation">  <span id="ctl00_lblLocation">SHARJAH </span></span>  </div>
<div class="col-md-6 padding0"> <span class="lbluser">  <span id="ctl00_lblUserName"> Cozmo Travel LLC -UAE / Super User </span></span> </div>
 <div class="clearfix"> </div>

    
    </div>




   
    
 <div class="clearfix"> </div>
 
  </div>
 
 
 
 <div class="col-md-12"> 
<nav role="navigation"><ul class="sm sm-blue" id="nav"><li><a href="#">Masters</a><ul><li><a href="#">Company Master</a><ul><li><a href="AgentMaster.aspx">Agent Master</a></li><li><a href="AgentPaymentDetails.aspx">Agent Payment</a></li><li><a href="AgentPaymentApproval.aspx">Agent Payment Approval</a></li><li><a href="LocationMaster.aspx">Location Master</a></li><li><a href="AgentPaymentTransfer.aspx">Agent Payment Transfer</a></li><li><a href="updatemarkup.aspx">Agent Markup</a></li><li><a href="ImportantMessages.aspx">IMP Messages</a></li><li><a href="UpdateAgentMarkup.aspx">Sub Agent Markup</a></li><li><a href="ManageCityMapCode.aspx">Manage City Code</a></li><li><a href="RateOfExchange.aspx">Exchange Master</a></li><li><a href="CorpFeedbackList.aspx">Corporate Feedback List</a></li><li><a href="CozmoToursMaster.aspx">Cozmo Tour Master</a></li><li><a href="CMSMaster.aspx">CMS Master</a></li><li><a href="REGISTERLIST.aspx">Agent Registration List</a></li></ul></li><li><a href="">Visa Master</a><ul><li><a href="VisaCriteriaList.aspx">Visa Criteria</a></li><li><a href="VisaRequirementList.aspx">Visa Requirement</a></li><li><a href="VisaTermsAndConditionList.aspx">VisaTermsandConditions</a></li><li><a href="VisaTypeList.aspx">Visa Type</a></li><li><a href="VisaDocumentList.aspx">Visa Document</a></li><li><a href="VisaCountryList.aspx">Visa Country</a></li><li><a href="VisaCityList.aspx">Visa City</a></li><li><a href="VisaRegionList.aspx">Visa Region</a></li><li><a href="VisaFeeList.aspx">Visa Fee</a></li><li><a href="VisaNationalityList.aspx">Visa Nationality</a></li></ul></li><li><a href="">B2C</a><ul><li><a href="B2CSettings.aspx">WhiteLabelSettings</a></li><li><a href="CustomerFeedback.aspx">Customer Feedback</a></li><li><a href="WLCustomerDetails.aspx">Cusotmer Profile</a></li><li><a href="WLPaymentDetails.aspx">Direct Payment</a></li><li><a href="SEOMaster.aspx">SEO Master</a></li><li><a href="ResourceMaster.aspx">Resource Master</a></li></ul></li><li><a href="">Transfer</a><ul><li><a href="TransferMaster.aspx">Transfer Master</a></li></ul></li><li><a href="">Meal</a><ul><li><a href="MealMaster.aspx">Meal Master</a></li></ul></li><li><a href="#">Roster Masters</a><ul><li><a href="ROSLocationMaster.aspx">Location Master</a></li><li><a href="ROSEmployeeMaster.aspx">Employee Master</a></li><li><a href="ROSVehicleMaster.aspx">Vehicle Master</a></li></ul></li><li><a href="#">Corporate Policy</a><ul><li><a href="CorporateProfile.aspx">Corporate Profile</a></li><li><a href="CorporatePolicies.aspx">Policy Master</a></li><li><a href="CorporateFlexMaster.aspx">Flex Master</a></li><li><a href="CorporateProfileSetup.aspx?Setup=DV">Division</a></li><li><a href="CorporateProfileSetup.aspx?Setup=DG">Designation</a></li><li><a href="CorporateProfileSetup.aspx?Setup=CS">Cost Center</a></li><li><a href="CorporateProfileSetup.aspx?Setup=GD">Grade</a></li><li><a href="CorporateProfile.aspx?show=query">Corporate ProfileView</a></li></ul></li><li><a href="#">Flight</a><ul><li><a href="AirlineMaster.aspx">Airline Master</a></li><li><a href="APISSourceMaster.aspx">APIS Master</a></li><li><a href="ItineraryAddServiceMaster.aspx">Add Service Master</a></li></ul></li><li><a href="">Agent Fee</a><ul><li><a href="updatemarkup.aspx">Agent Service charge</a></li><li><a href="updatehandlingfee.aspx">AgentMarkupUpdate</a></li></ul></li></ul></li><li><a href="#">Transactions</a><ul><li><a href="">G9 Insurance</a><ul><li><a href="insurance.aspx">G9 Insurance Search</a></li><li><a href="InsuranceQueue.aspx">G9 Insurance Queue</a></li><li><a href="InsuranceChangeReqQueue.aspx">G9 Insurance change Request Queue</a></li><li><a href="InsuranceList.aspx">G9 Insurance Report</a></li></ul></li><li><a href="#">Flight</a><ul><li><a href="HotelSearch.aspx?source=Flight">Flight Search</a></li><li><a href="AgentBookingQueue.aspx">Flight Queue</a></li><li><a href="DisplayPNR.aspx">Import PNR</a></li><li><a href="FailedBookingQueue.aspx?Source=Flight">Failed Booking</a></li><li><a href="FlightChangeRequestQueue.aspx">Change Request</a></li><li><a href="FlightAcctReport.aspx">Report</a></li><li><a href="Offlinebooking.aspx">Offline Booking </a></li><li><a href="OfflineBookingList.aspx">Offline Booking List</a></li><li><a href="FlightAddServiceQueue.aspx">Add Service Queue</a></li><li><a href="ItineraryAdditionalServiceDetailsIframe.aspx">Addl Service Voucher</a></li><li><a href="ItineraryAdditionalServiceDetailsIframe.aspx">Add Service</a></li><li><a href="HalaServiceQueue.aspx">HALA Service List</a></li><li><a href="flightinvmaster.aspx">FlightInventory Master</a></li></ul></li><li><a href="#">Hotel</a><ul><li><a href="HotelSearch.aspx?source=Hotel">Hotel Search</a></li><li><a href="HotelBookingQueue.aspx">Hotel Queue</a></li><li><a href="ChangeRequestQueue.aspx">Change Request</a></li><li><a href="FailedBookingQueue.aspx?Source=Hotel">Failed Booking</a></li><li><a href="HotelAcctReport.aspx">Report</a></li></ul></li><li><a href="#">Insurance</a><ul><li><a href="insurance.aspx">Insurance Search</a></li><li><a href="InsuranceQueue.aspx">Insurance Queue</a></li><li><a href="InsuranceList.aspx">Insurance Report</a></li><li><a href="InsuranceChangeReqQueue.aspx">Change Request</a></li></ul></li><li><a href="#">Activity</a><ul><li><a href="ActivityMaster.aspx">Activity Master</a></li><li><a href="activityresults.aspx">Activity Search</a></li><li><a href="activityList.aspx">Activity Master List</a></li><li><a href="activityqueue.aspx">Activity Queue</a></li></ul></li><li><a href="#">Packages</a><ul><li><a href="PackageMaster.aspx">Create Package</a></li><li><a href="Packages.aspx">Package  Search</a></li><li><a href="HotelDealSetting.aspx">Package Listing</a></li><li><a href="EnquiryQueue.aspx">Enquiry List</a></li></ul></li><li><a href="#">Fixed Departure</a><ul><li><a href="FixDepMaster.aspx">FixDeparture Master</a></li><li><a href="FixedDepartureResults.aspx">Fixed Departure Search</a></li><li><a href="FixDepList.aspx">FixDeparture List</a></li><li><a href="b2cfixdeparturequeue.aspx">B2C FixDeparture Queue</a></li><li><a href="FixedDepartureQueue.aspx">Fixed Departure Queue</a></li><li><a href="FixedDepartureChangeRequestQueue.aspx">FD Change Request</a></li><li><a href="StockNotAvailableList.aspx">Stock Not Available List</a></li></ul></li><li><a href="#">VMS</a><ul><li><a href="b2bvisamodule.aspx?product=VISA">Visa Receipt</a></li><li><a href="b2bvisamodule.aspx?product=VISALIST">Visa List</a></li><li><a href="b2bvisamodule.aspx?product=VISASUPERVISOR">Visa Spervisor</a></li><li><a href="b2bvisamodule.aspx?product=VISAHANDOVER">Visa HandOver</a></li><li><a href="b2bvisamodule.aspx?product=ADVQUERY">Visa Advance Query</a></li><li><a href="b2bvisamodule.aspx?product=OK2B">OK2B Receipt</a></li><li><a href="b2bvisamodule.aspx?product=OK2BLIST">OK2B List</a></li><li><a href="b2bvisamodule.aspx?product=OK2BUPLOAD">OK2B Upload</a></li></ul></li><li><a href="#">Roster </a><ul><li><a href="ROSTranxHeader.aspx">Roster Details</a></li><li><a href="ROSTranxHeaderList.aspx">Roster List</a></li><li><a href="ROSUploadPage.aspx">Roster Upload</a></li></ul></li><li><a href="">Visa</a><ul><li><a href="AdminVisaQueue.aspx">Visa Queue</a></li></ul></li><li><a href="#">Corporate</a><ul><li><a href="CorporateExpenseSummary.aspx">Expense Summary</a></li><li><a href="CorporateExpenseApprovals.aspx">Expense Approval</a></li><li><a href="CorporateReimbursementQueue.aspx">Reimbursement Queue</a></li><li><a href="CorporateExpenseDetailsQueue.aspx">Expense Details Queue</a></li><li><a href="CorporateTripApprovalQueue.aspx">Trip Approval Queue</a></li><li><a href="CorporateTripDetailsQueue.aspx">Trip Details Queue</a></li></ul></li><li><a href="">Sightseeing</a><ul><li><a href="sightseeing.aspx">Sightseeing Search</a></li><li><a href="Sightseeingbookingqueue.aspx">Sightseeing Queue</a></li><li><a href="sightseeingchangerequestqueue.aspx">Sightseeing Change Request</a></li></ul></li><li><a href="">Car Rental</a><ul><li><a href="FleetSearch.aspx">Car Search</a></li><li><a href="FleetBookingQueue.aspx">Car Booking Queue</a></li><li><a href="FleetChangeRequestQueue.aspx">Change Request</a></li></ul></li><li><a href="#">Global Visa</a><ul><li><a href="GVVisaTypeMaster.aspx">GV Type Master</a></li><li><a href="GVRequirementMaster.aspx">GV Requirement Master</a></li><li><a href="GVTermsMaster.aspx">GV Terms Master</a></li><li><a href="GVFeeMaster.aspx">GV Fee Master</a></li><li><a href="CorpGVRequest.aspx">GV Booking</a></li><li><a href="corpGvEnqRequest.aspx">GV Enquiry</a></li><li><a href="GVSalesList.aspx">GV Sales List</a></li><li><a href="CorpGVSalesDispatchQueue.aspx">GV Dispatch Queue</a></li></ul></li><li><a href="#">IraqVisa</a><ul><li><a href="irqVisaReceipt.aspx">IrqVisaReceipt</a></li><li><a href="IrqVisaList.aspx">IrqVisaList</a></li></ul></li></ul></li><li><a href="#">User Management</a><ul><li><a href="#">User Control</a><ul><li><a href="CreateUser.aspx">Create User</a></li><li><a href="RoleMaster.aspx">Role Master</a></li><li><a href="ChangePassword.aspx">Change password</a></li></ul></li></ul></li><li><a href="#">Accounts</a><ul><li><a href="#">Report</a><ul><li><a href="AgentBalSummary.aspx">agency Balance Summary</a></li></ul></li><li><a href="AdminLedger.aspx">Ledger</a></li><li><a href="FlightCommissionReport.aspx">Flight Commission Report</a></li><li><a href="HotelCommissionReport.aspx">Hotel Commission Report</a></li></ul></li><li><a href="#">WhiteLabel</a><ul><li><a href="#">Flight</a></li><li><a href="#">Hotel</a></li><li><a href="#">Visa</a><ul><li><a href="AdminVisaQueue.aspx">Visa Queue</a></li></ul></li><li><a href="#">Insurance</a></li><li><a href="#">Activity</a></li><li><a href="#">Fixed Departure</a></li><li><a href="#">Packages</a></li></ul></li><li><a href="#">WhiteLabel Core</a><ul><li><a href="#">B2C Configuration</a><ul><li><a href="B2CSettings.aspx">B2C Settings</a></li></ul></li><li><a href="#">Flight</a></li><li><a href="#">Hotel</a></li><li><a href="#">Visa</a></li><li><a href="#">Insurance</a></li><li><a href="#">Activity</a></li><li><a href="#">Fixed Departure</a></li><li><a href="#">Packages</a></li><li><a href="CMSMaster.aspx">CMS Master</a></li></ul></li><li><a href="#">Payment Queue</a><ul><li><a href="UploadExcel.aspx">Payment Upload</a></li><li><a href="MakerQueue.aspx?queue=MAKER">Maker Queue</a></li><li><a href="MakerQueue.aspx?queue=CHECKER">Checker Queue</a></li><li><a href="ManagementQueue.aspx">Management Queue</a></li></ul></li></ul></nav>

<div class="clearfix" ></div>

</div>
            
           
      </div>
     
     
    

</div>




<div>

<style type="text/css">
	.insurance-card{
		text-align: center;
		min-height: 200px;
		cursor: pointer;
	}
	.insurance-card .front,.insurance-card .back{
		background-color: #ECDE24;		
		border: 1px solid #ECDE24;	
		padding: 20px;
		min-height: 100%;
		border-radius: 8px;	
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
			-ms-flex-pack: center;
				justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
			-ms-flex-direction: column;
				flex-direction: column;
	}
	.insurance-card .front{		
	}
	.insurance-card .back{
	}
	.insurance-card .custom-radio-table input[type="radio"] + label:before {
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 15px;
	}
	.insurance-card .custom-radio-table input[type="radio"]:checked + label:after {
		width: 15px;
		height: 15px;
		background-color: #1c498a;
		left: 10px;
		top: 9px;
	}
	.insurance-card h4{
		font-size: 22px;
		color: #000;
		
	}
	.insurance-card .plan-amount{
		font-size: 22px;
		font-weight: bold;
		color:#4f4747;
	}
	.insurance-card .plan-amount .small{
		font-size: 12px;
	}
	.insurance-card ul{
		font-size: 13px;
		list-style: none;
		padding: 0;
		
	}
	.insurance-card ul li{position: relative;    padding: 6px 0;}
	.insurance-card ul li:after{
		content: '';
		height: 1px;
		width: 14px;
		left: 0;
		right: 0;
		position: absolute;
		bottom: 0;
		background-color: #000;
		margin: 0 auto;
	}
	.radio-wrap{
		padding-top: 15px;
	}
</style>
	<script src="<%=Request.Url.Scheme%>://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"> </script>   
<div class="body_container">   
                    
    <h3 class="py-4">Select Insurance Plan</h3>  
    
    <div class="row">
    	<div class="col-md-3">
    		<div id="card-1" class="insurance-card"> 
			  <div class="front"> 
			      <h4>Gold Plan</h4>
					
					<div class="plan-amount"><span class="small">AED</span> 1199</div>
					Travel Assurance is important
			  </div> 
			  <div class="back">
				<div>
					<ul>
						<li>	USD 100,000 for Accidental and Sickness Medical Reimbursement</li>
						<li>	USD 100,000 for Emergency Medical Evacuation</li>
						<li>	USD 30,000 for Accidental Death and Permanent Disablement</li>
					</ul>
				</div>
				<div class="radio-wrap ">
					<input type="radio" name="insuranceplan" value="1" checked="checked" class="insurance-radio">
					<label></label>
				</div>
			  </div> 
			</div>
    	</div>
    	<div class="col-md-3">
    		<div id="card-2" class="insurance-card"> 
			  <div class="front"> 
			      <h4>Gold Plan</h4>
					
					<div class="plan-amount"><span class="small">AED</span> 1199</div>
					Travel Assurance is important
			  </div> 
			  <div class="back">
				<div>
					<ul>
						<li>	USD 100,000 for Accidental and Sickness Medical Reimbursement</li>
						<li>	USD 100,000 for Emergency Medical Evacuation</li>
						<li>	USD 30,000 for Accidental Death and Permanent Disablement</li>
					</ul>
				</div>
				<div class="radio-wrap ">
					<input type="radio" name="insuranceplan" value="2" class="insurance-radio">
					<label></label>
				</div>
			  </div> 
			</div>
    		
    	</div>
    	<div class="col-md-3">
    	</div>
    </div>
    <div class="row pt-5">
    	<div class="col-md-2">
    		 <div class="form-group">
				<label for="">No of Passengers</label>
				<select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			  </div>
    	</div>
    	<div class="col-md-2">
    		 <div class="form-group">
				<label for="">No of Sectors</label>
				<select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			  </div>
    	</div>
    	<div class="col-md-2">
    		 <div class="form-group">
				<label for="">Agent Name</label>
				<select class="form-control">
					<option>-- Select --</option>
					<option>Cozmo Travel</option>
					<option>Cozmo Travel</option>
					<option>Cozmo Travel</option>
				</select>
			  </div>
    	</div>
    </div>
    <h3 class="py-4">Passenger Information</h3>    
    <div class="pax-info">
    	  <div class="row pt-5">
			<div class="col-md-2">
				 <div class="form-group">
					<label for="">Title</label>
					<select class="form-control">
						<option>-- Select --</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				  </div>
			</div>
			<div class="col-md-2">
				 <div class="form-group">
					<label for="">First Name</label>
					<input type="text" placeholder="First Name" class="form-control">
				  </div>
			</div>
			<div class="col-md-2">
				 <div class="form-group">
					<label for="">Last Name</label>
					<input type="text" placeholder="Last Name" class="form-control">
				  </div>
			</div>
			<div class="col-md-2">
				 <div class="form-group">
					<label for="">PNR</label>
					<input type="text" placeholder="Enter PNR" class="form-control">
				  </div>
			</div>
			<div class="col-md-2">
				 <div class="form-group">
					<label for="">Ticket No.</label>
					<input type="text" placeholder="Ticket No." class="form-control">
				  </div>
			</div>
		</div>
    </div>                                                                               

</div>                                                                                                 
                     
<script>
	$(document).ready(function(){
		$("#card-1,#card-2").flip({trigger: 'hover'}); 
	})
	
	</script>

<!-- Content Search -->




<!-- end search -->
    
    
    



    </div>











<!--footer starts here-->    

<div class="footer_big"> 

<div class=" container"> 

<div class="col-md-3">
<h3>Information </h3> 

<ul>
 <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://gocozmo/AboutUs.aspx">About Us </a>  </li>

 <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://ctb2b.cozmotravel.com/Terms.aspx">Terms & Conditions </a>  </li>
 
  <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://ctb2b.cozmotravel.com/PrivacyPolicy.aspx"> Privacy Policy </a>  </li>


 <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://gocozmo/career.aspx">Career </a>  </li>

</ul>

 </div> 

<div class="col-md-3">

<h3>Our Services </h3> 

<ul>
 <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://cozmotravel.com/OurServices.aspx">Services  </a>  </li>

 <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://tours.cozmotravel.com/visa_uae?utm_source=Facebook&utm_medium=CPC&utm_content=VISA_Fujairah_SingleAd&utm_campaign=VISA_Cozmo_SingleAd">UAE Visa </a>  </li>

 <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://tours.cozmotravel.com/qatar-visa">Qatar Visa  </a>  </li>

 <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://cozmotravel.com/GlobalVisa.aspx">Global Visa</a>  </li>

</ul>


 </div>



  <div class="col-md-3">
<h3>Customer Care </h3> 

<ul>
 <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://cozmotravel.com/Help-Faq.aspx"> Help & FAQ </a>  </li>
  <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://cozmotravel.com/ContactUs.aspx">  Contact Us</a>  </li>
  
   <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://czt.dyndns.info:99/cozmovisa/visastatus.aspx"> Visa Tracking </a>  </li>
   
    <li>  <a target="_blank" href="<%=Request.Url.Scheme%>://cozmotravel.com/feedback.aspx"> Feedback/Enquiry </a>  </li>
 
 

</ul>


 </div>
 
 
 


  <div class="col-md-3">
<h3>Follow us </h3> 



<a target="_blank" class="facebook" href="<%=Request.Url.Scheme%>://www.facebook.com/CozmoTraveluae"> </a>
<a target="_blank" class="twitter" href="<%=Request.Url.Scheme%>://twitter.com/cozmotravel"> </a>
<a target="_blank" class="googleplus" href="<%=Request.Url.Scheme%>://plus.google.com/+CozmoTravelwherealljourneysbegin/"> </a>
<a target="_blank" class="youtube" href="<%=Request.Url.Scheme%>://www.youtube.com/watch?v=xidvGxY9R-U"> </a>


 </div>
 


</div> 



<div class="footer_mini"> 

<span id="ctl00_lblCopyRight">Copyright © 2016 Cozmo Travel LLC, UAE. All Rights Reserved.</span>
</div> 


</div>  

<!--footer ends here-->   



<div style=" display:none" id="footer">
<span class="frright01"> <div id="ctl00_upnlGrandTotal">
	
		    
		        
                
</div></span>
<span class="frright">Powered by <a href="#"><img src="<%=Request.Url.Scheme%>://ctb2bstage.cozmotravel.com/images/czit.png" alt="#" /></a></span>
		    
  </div>
  
     </div>

  

</form>
  
  </div>

</body>
</html>
