﻿<%@ Page Language="C#" MasterPageFile="~/Transaction.master" AutoEventWireup="true" Inherits="ContExtraNetUI" Title="" Codebehind="ContExtraNet.aspx.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTransaction" Runat="Server">
 
 
 
  
 <style> 
 
 .body_container { line-height:24px; font-size:14px; }

 </style>
 
 
 <div class="body_container">
 
 <div class="col-md-12"> 
 <h4 class=" paddingtop_10 paddingbot_10">Hotel Extranet </h4>
 

Our advanced Hotel Extranet tool helps you to load your private inventories like direct hotel, apartments and resorts contracts on our Hotel Extranet systems. You have complete control on room allocations, Blackout dates, Room rates, etc. and can be managed on our Hotel Extranet.  <br />  <br />

You can add your property details, upload photos and payment policies, update cancellation and date change policies, manage allocation on our Hotel Extranet. Once you upload all details we will review and confirm the  details of your property updated and provide confirmation. After confirmation your property will be made live on our system and you will start receiving reservations immediately.

 <br />  <br />








 
 </div>
 
 <div class="clearfix"> </div>
 </div>

 
 
 
 
 
 



 
</asp:Content>

