﻿<%@ Page Language="C#" MasterPageFile="~/Transaction.master" AutoEventWireup="true" Inherits="ContHolidaysUI" Title="" Codebehind="ContHolidays.aspx.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTransaction" Runat="Server">
 
 
 
  
 <style> 
 
 .body_container { line-height:24px; font-size:14px; }

 </style>
 
 
 <div class="body_container">
 
 <div class="col-md-12"> 
 <h4 class=" paddingtop_10 paddingbot_10">Holiday Packages </h4>
 

You can create your own Holiday Package through our Holiday package module and the packages can be sold to your customers. At the same time, you can avail the complete suite of Holiday Packages which will be available on our system for you to sell to your customers. 

 <br />  <br />








 
 </div>
 
 <div class="clearfix"> </div>
 </div>

 
 
 
 
 
 



 
</asp:Content>

