﻿<%@ Page Language="C#" MasterPageFile="~/Transaction.master" AutoEventWireup="true" Inherits="ContSuppInvUI" Title="" Codebehind="ContSuppInv.aspx.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTransaction" Runat="Server">
 
 
 
  
 <style> 
 
 .body_container { line-height:24px; font-size:14px; }

 </style>
 
 
 <div class="body_container">
 
 <div class="col-md-12"> 
 <h4 class=" paddingtop_10 paddingbot_10">Supplier Inventory</h4>
 


If you are a Tour operators or a Travel Agent having your own tour package content, you can easily load the packages on our system and start selling the products immediately. If you would like to distribute your Tour Packages / Holiday Packages, we can load the packages on to the system and promote the packages for maximum reach.  <br /> <br /> 

Using our Supplier Inventory system, you can load your own content like hotels, flights, Holiday Packages or transfers and further expandyour audience reaching out to travel agents that might not otherwise see what you have to offer.
 <br /> <br /> 

<strong> Benefits of using our system:</strong><br />  
i) Reach to all our agents and online system your products. <br />  
ii) Interactive admin panel to manage your inventory <br /> 
iii) Innovative system architecture to implement best practices  <br /> 
iv) Regular updates and patches to keep the system up and running for 24x7 <br /> 






 <br /> 

 
 </div>
 
 <div class="clearfix"> </div>
 </div>

 
 
 
 
 
 



 
</asp:Content>

