﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="_Default" Codebehind="Default.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "<%=Request.Url.Scheme%>://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="<%=Request.Url.Scheme%>://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Visa Module</title>
    <script language="javascript">
			function openUrlPopup()
			{
				var x="width="+(screen.width-10)+",height="+(screen.height-75)+",addressbar=yes,toolbar=no,titlebar=no,location=no,directory=no,status=yes,personalbar=no,menubar=no,scrollbars=yes,dependent=yes,left=0,top=0";	
				myWindow = window.open("Login.aspx", "_blank", x);
				//window.open('PopUpURL.htm', '_self');
				return true;
			}

				
		</script>
</head>
<body onload="openUrlPopup();">
</body>
</html>
