<%@ Page Language="C#" AutoEventWireup="true" Inherits="EmailItineraryPage"  Codebehind="EmailItineraryPage.aspx.cs" %>
<div id='ViewFlight' runat="server" style="display:none; border: solid 2px #2e5b97;  margin-top:4px; margin-bottom:10px; padding-left:5px; padding-right:5px;">

    <a name="view_fare_details3"></a>
    <div style=" padding-bottom:10px;  background:#FFFFFF; ">
        <div >
            <div style="background:url(../images/innner-blocks.png); background-position:0px 63px;  font-size:13px;    height:28px; width:100%; line-height:25px; font-weight:bold; padding-left:0; ">
                <span id="pageTitle" runat="server"></span> 
                
                <%--<asp:Image id="agentLogo" style="display:none; width:180px; height:65px;"  runat="server"></asp:Image>--%>
            </div>
            <table style="font-size:11px;margin-top:80px" id="flightDetails" width="100%" border="0" runat="server" cellspacing="0" cellpadding="0" >
            </table>
            <div id="FareDetails" runat="server"  style="width:100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 0px">
             <table style=" font-size:11px;" id="paxTable" width="100%" runat="server" cellspacing="0" cellpadding="0" >
            </table>
            </div>
        </div>
        <div style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 0px">
        </div>
    </div>
</div>
