﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="PaymentProcessingForGVVisa" Codebehind="PaymentProcessingForGVVisa.aspx.cs" %>

<!DOCTYPE html>

<html xmlns="<%=Request.Url.Scheme %>"://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
   <form id="form1" runat="server">
<asp:HiddenField id="requestparamsNI" runat="server"></asp:HiddenField>
</form>
   <form id="frmNI" method="post" name="frmNI" action="<%=paymentNIURL%>">  
 <input type="hidden" name="requestParameter" id="requestParameter" value=""/>
 <script type="text/javascript">
     document.frmNI.requestParameter.value = document.getElementById('<%=requestparamsNI.ClientID %>').value;  
     document.frmNI.submit(); 
    </script>
</form>
</body>
</html>
