﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="ShowPasswordGUI" Title="Show Password" MasterPageFile="~/TransactionVisaTitle.master" Codebehind="ShowPassword.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphTransaction" Runat="Server">
     <div class="body_container">  
         <div class="col-md-12 padding-0 marbot_10"> 
              <div class="col-md-2"> 
                  <asp:Label ID="lblLoginName" runat="server" Text="Login Name:">
                  </asp:Label></div>
              <div class="col-md-2"> <asp:TextBox ID="txtLoginName" CssClass="inputEnabled form-control" runat="server" ></asp:TextBox></div>
         <div class="col-md-2"> 
                  <b><asp:Label ID="lblPassword" runat="server" Text="Login Name:">
                  </asp:Label></b></div>  
         </div>  
         <div style="padding-left:255px">
             
         
   <asp:Button ID="btnSearch" Text="Search" runat="server" CssClass="but but_b" OnClientClick="return Search();" OnClick="btnSearch_Click" ></asp:Button>
           <asp:Button ID="btnClear" Text="Clear" runat="server" CssClass="but but_b" OnClick="btnClear_Click" ></asp:Button>
                
         </div>
     
         </div>
    <script type="text/javascript">
        function Search()
        {
            if (getElement('txtLoginName').value == '') addMessage('LoginName cannnot be blank!', '');
            if(getMessage()!='')
            {
                alert(getMessage()); clearMessage(); return false;
            }
            
        }
    </script>
</asp:Content>