﻿
<%@ Page  Title="Silent Login" Language="C#" AutoEventWireup="true" CodeBehind="SilentLogin.aspx.cs"  Inherits="CozmoB2BWebApp.SilentLogin" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div class="row" style="text-align:center">
               <asp:Label style="color:Red; font-size:25px;text-align:center" runat="server" ID="lblError" CssClass="lblError"></asp:Label>
        </div>
    </form>
</body>
</html>


