<%@ Page Language="C#" MasterPageFile="~/TransactionBE.master" AutoEventWireup="true" Inherits="ViewBookingForHotelUI" Codefile="ViewBookingForHotel.aspx.cs" %>

<asp:Content ID="Content1" runat="Server" ContentPlaceHolderID="cphTransaction">
   
</asp:Content>
